@model jaejaeBoard.Models.userTB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>testTB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USERID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERPASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERPASS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERNM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERTYPECD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERTYPECD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFFICETEL1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFFICETEL1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFFICETEL2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFFICETEL2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFFICETEL3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFFICETEL3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CELLNO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CELLNO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CELLNO2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CELLNO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CELLNO3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CELLNO3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZIPCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZIPCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISSMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISSMS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISEMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISEMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPANYID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPANYID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGNM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGNM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIVISIONNM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIVISIONNM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JOBNM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JOBNM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENTERDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENTERDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPUSERID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPUSERID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELYN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELYN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREUSERID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREUSERID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODUSERID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODUSERID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESEARCHERNM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESEARCHERNM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIRTHDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIRTHDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENDERCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDERCD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UKID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
